body
{
  background: linear-gradient(#5ED864, #a5d85eff, #c2d85eff);
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#AddTodoButton
{
  background-color: #2178fa;
  border-color: #0d6efd;
  margin-top: 0%;
  color: white;
  padding: 5px;
}
#headingTodo
{
  text-align: center;
  display: block;
  font-size : 40px; 
  font-weight: 500;
  margin-top: 20px;
}
#headingTodo1
{
  text-align: center;
  display: block;
  font-size : 40px; 
  font-weight: 500;
  margin-top: 20px;
  margin-right: 5%;
}
#modalBody
{
  display: block;
  width: 100%;
  padding: .375rem .75rem;
}
#TodolistStyle
{
  background-color: azure;
  padding: 10px;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  list-style: none;
  margin-right: 30px;
  
}
#editingTodo
{
  margin-left: 87%;
  margin-right: 5px;
}