body
{
  background: linear-gradient(#5ED864, #a5d85eff, #c2d85eff);
  text-align:center;

}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#AddTodoButton
{
  background-color: lightyellow;
  margin-top: 0%;
}
#headingTodo
{
  font-size: 300%;
}